body {
    background-color:white;
    margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
}

h2 {
    color: navy;
    margin-left: 5px;
    font-size: 30px;
    text-align:center;
}
#wrap{
overflow:auto;
margin-top:0px;
}
#first {
    float:left;
    width: 20%;
    height: 100%;
    background: gainsboro;
}

#second {
    float:left;
    width: 80%;
    height: 30px;
    background: gainsboro;
    margin-top: 30px;
}
#third
{
    width: 60%;
    height :300px;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 200px;


}
#box
{
  overflow:scroll;
  height :300px;
  width: 100%;
  background: gainsboro;
}

.styled-button-1 {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:lightblue;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;font-family:'Helvetica Neue',Arial,sans-serif;font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0
      
}
.topcorner{
   position:absolute;
   top:35;
   right:20;
  }
